@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

@layer utilities {
  .animate-link {
    @apply transition-all duration-300;
  }
  .mobile-menu-open .animate-link {
    opacity: 1;
    transform: translateX(0);
  }
}

body: {
  font-family: "Inter", sans-serif;
}

h3 {
  font-family: "Inter", sans-serif;
}
h1,
h2 {
  font-family: "Playfair Display";
}
