---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
import Cta from "../components/Cta.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hipolito Advocacia</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB4+7NPZ01p3R+93Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="flex flex-col justify-center items-center scroll-smooth">
    <Navbar />
    <Hero />
    <Services />
    <Testimonials />
    <Cta />
    <Contact />
    <Footer />
  </body>
</html>
