---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
import Cta from "../components/Cta.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex flex-col justify-center items-center select-none scroll-smooth">
    <Navbar />
    <Hero />
    <Services />
    <Testimonials />
    <Cta />
    <Contact />
    <Footer />
  </body>
</html>
