---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import LawyerInfo from "../components/LawyerInfo.astro";
import OfficeInfo from "../components/OfficeInfo.astro";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo-navbar.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sobre nós - Hipólito Advocacia</title>
    <meta
      name="description"
      content="Conheça a equipe e a história da Hipólito Advocacia em Ipatinga. Especialistas em direito previdenciário, trabalhista e sucessório."
    />
    <meta property="og:title" content="Sobre nós - Hipólito Advocacia" />
    <meta
      property="og:description"
      content="Conheça a equipe e a história da Hipólito Advocacia em Ipatinga. Especialistas em direito previdenciário, trabalhista e sucessório."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hipolitoadvocacia.com.br/sobre" />
    <meta property="og:image" content="/logo.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Sobre nós - Hipólito Advocacia" />
    <meta
      name="twitter:description"
      content="Conheça a equipe e a história da Hipólito Advocacia em Ipatinga. Especialistas em direito previdenciário, trabalhista e sucessório."
    />
    <meta name="twitter:image" content="/logo.png" />
  </head>
  <body class="flex flex-col justify-center items-center scroll-smooth">
    <Navbar />
    <LawyerInfo />
    <OfficeInfo />
    <Footer />
  </body>
</html>
