---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import LawyerInfo from "../components/LawyerInfo.astro";
import OfficeInfo from "../components/OfficeInfo.astro";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hipolito Advocacia</title>
  </head>
  <body class="flex flex-col justify-center items-center scroll-smooth">
    <Navbar />
    <LawyerInfo />
    <OfficeInfo />
    <Footer />
  </body>
</html>
