---
import { Briefcase, Gavel, HandCoins, Scale, ShoppingCart, Users } from "@lucide/astro";
import ServicesCard from "./ServicesCard.astro";
import TestimonialsCard from "./TestimonialsCard.astro";
---

<section id="contact" class="p-10 font-[Inter] bg-[#453130] w-full">
  <div
    class="md:p-10 flex flex-col justify-center md:w-[1440px] md:m-auto lg:m-auto h-full text-white md:items-start items-center gap-6"
  >
    <div class="text-center md:text-start flex flex-col gap-[5px]">
      <h3 class="text-sm md:text-lg uppercase font-bold text-[#D7AA67]">Dúvidas ?</h3>
      <h2 class="text-3xl font-[Playfair] font-bold md:text-4xl">Envie sua dúvida</h2>
    </div>
  </div>
</section>
