---
import { PhoneCall, Mail, MessageCircle, Instagram } from "@lucide/astro";
---

<footer id="footer" class="p-10 pb-0 bg-[#453130] w-full">
  <div class="xl:w-[1440px] m-auto w-full">
    <div
      class="md:flex-row md:justify-between flex flex-col items-center md:items-start md:p-10 gap-5 p-5 border-b-1 border-t-1 border-[#D7AA67]"
    >
      <img src="/logo.png" alt="Logo Hipólito Advocacia" class="w-52 h-52" />

      <div class="gap-2.5 flex flex-col text-white text-center md:text-left">
        <h3 class="text-sm md:text-lg uppercase font-bold text-[#D7AA67]">Menus</h3>
        <a href="/" class="hover:text-[#C39258]">Home</a>
        <a href="/#services" class="hover:text-[#C39258]">Serviços</a>
        <a href="/#testimonials" class="hover:text-[#C39258]">Depoimentos</a>
        <a href="/sobre" class="hover:text-[#C39258]">Sobre nós</a>
        <a href="/sobre" class="hover:text-[#C39258]"> Contato</a>
      </div>

      <div class="gap-2.5 flex flex-col text-white text-center md:text-left">
        <h3 class="text-sm md:text-lg uppercase font-bold text-[#D7AA67]">Contatos</h3>
        <span class="flex flex-row gap-2.5 items-center justify-center md:justify-start"
          ><PhoneCall />
          <a href="tel:03129422392" target="_blank" class="hover:text-[#C39258]">
            (31) 2942-2392
          </a>
        </span>
        <span
          class="flex flex-row hover:text-[#C39258] items-center justify-center md:justify-start"
        >
          <img src="/whatsapp.svg" alt="" class="h-8" />
          <a
            href="https://wa.me/5531990004163?text=Ol%C3%A1,%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas%20e%20agendar%20uma%20consulta."
            target="_blank"
            class="hover:text-[#C39258]"
          >
            (31) 98333-9653
          </a>
        </span>
        <span class="flex flex-row gap-2.5 items-center justify-center md:justify-start"
          ><Mail />
          <a
            href="malito:andreiahipolito.adv@hotmail.com"
            target="_blank"
            class="hover:text-[#C39258]">andreiahipolito.adv@hotmail.com</a
          >
        </span>
        <span class="flex flex-row gap-2.5 items-center justify-center md:justify-start">
          <Instagram />
          <a
            href="https://www.instagram.com/hipolito_advocacia/"
            target="_blank"
            class="hover:text-[#C39258]"
          >
            hipolito_advocacia
          </a>
        </span>
      </div>
      <div
        class="flex
            flex-col
            text-white
            text-center
            md:text-left"
      >
        <h3 class="text-sm md:text-lg uppercase font-bold text-[#D7AA67]">Escritório</h3>
        <p class="font-bold">Ipatinga | MG</p>
        <p class="">
          Av. Felipe dos Santos, n° 435, <br /> Loja 01, Cidade Nobre, Ipatinga <br /> CEP 35162-369
        </p>
      </div>
    </div>

    <div
      class="p-5 text-white flex flex-col md:flex-row justify-center items-center md:justify-between gap-5"
    >
      <a
        href="https://www.instagram.com/hipolito_advocacia/"
        target="_blank"
        class="md:block hidden"
      >
        <Instagram />
      </a>
      <p class="text-sm text-[#EDEDED] text-center md:text-left">
        Hipólito Advocacia &copy; 2025. Todos os direitos reservados. | Desenvolvido por
        <a
          href="https://github.com/joaomilholo"
          class="cursor-pointer font-bold hover:text-[#C39258]"
          target="_blank">João Milholo</a
        >
      </p>
    </div>
  </div>
</footer>
