---
import Button from "./Button.astro";
---

<section
  id="hero"
  class="bg-black/50 bg-blend-multiply bg-[url(../../public/hero-bg.jpg)] bg-center bg-cover lg:h-[600px] md:h-[600px] w-full gap-6 flex justify-center items-center"
>
  <div class="p-10 flex flex-col justify-center text-white gap-6">
    <h1 class="text-[32px] md:text-5xl font-[Playfair] font-bold">
      Consultoria jurídica moderna e eficaz
    </h1>
    <p class="font-[Inter] text-[16px] max-w-2xl">
      Defendemos seus direitos no INSS e em áreas como Civil, Trabalhista, Criminal, Tributário e do
      Consumidor. Nosso objetivo é oferecer orientação clara e estratégica para garantir a proteção
      e justiça que você merece.
    </p>
    <Button text="Conhecer Serviços" link="#services" />
  </div>
</section>
