---
import Button from "./Button.astro";
---

<section
  id="hero"
  class="bg-black/50 bg-blend-multiply bg-[url(/hero-bg.jpg)] md:p-10 bg-center bg-cover h-[600px] w-full"
>
  <div
    class="md:p-10 p-5 flex flex-col justify-center text-start m-auto w-full lg:w-[1440px] h-full text-white gap-5"
  >
    <h1 class="text-[32px] md:text-5xl font-bold">Consultoria jurídica moderna e eficaz</h1>
    <p class="font-[Inter] text-[16px] max-w-2xl">
      Defendemos seus direitos no INSS e em áreas como Civil, Trabalhista, Criminal, Tributário e do
      Consumidor. Nosso objetivo é oferecer orientação clara e estratégica para garantir a proteção
      e justiça que você merece.
    </p>
    <Button text="Conhecer Serviços" link="#services" />
  </div>
</section>
