---
import { Briefcase, Gavel, HandCoins, Scale, ShoppingCart, Users } from "@lucide/astro";
import ServicesCard from "./ServicesCard.astro";
---

<section
  id="services"
  class="p-10 font-[Inter] flex justify-center items-center m-auto bg-[#DFE0E0] w-full"
>
  <div
    class="p-10 gap-5 flex flex-col w-full justify-center items-center m-auto lg:w-[1440px] md:w-full"
  >
    <div class="text-start flex flex-col gap-[5px]">
      <h3 class="text-sm md:text-lg uppercase font-bold text-[#D7AA67]">Quem sou eu ?</h3>
      <h2 class="text-3xl font-[Playfair] font-bold md:text-4xl text-black">Andréia Hipólito</h2>
      <p>
        Dra. Andreia Hipólito atua há mais de 10 anos no Direito Trabalhista e Previdenciário,
        oferecendo soluções estratégicas e personalizadas para empresas e clientes individuais.
        Combinando conhecimento técnico e atendimento humanizado, ela garante clareza, agilidade e
        resultados concretos em cada caso. Seu compromisso é orientar cada cliente de forma
        transparente, transmitindo segurança e confiança em todas as etapas do processo
      </p>
    </div>
  </div>
</section>
