---
import { Briefcase, Gavel, HandCoins, Scale, ShoppingCart, Users } from "@lucide/astro";
import ServicesCard from "./ServicesCard.astro";
---

<section
  class="md:p-10 py-10 px-5 font-[Inter] flex justify-center items-center m-auto bg-[#DFE0E0] w-full"
>
  <div
    class="w-full xl:w-[1440px] flex flex-col md:flex md:flex-row items-center justify-center gap-5 md:p-10"
  >
    <img src="/profile_andreia.png" alt="" class="w-[400px]" />
    <div class="md:w-[514px] w-full gap-2.5">
      <h3 class="text-base md:text-lg uppercase font-semibold text-[#D7AA67]">Quem sou eu ?</h3>
      <h2 class="text-2xl font-bold md:text-3xl text-black">Andréia Hipólito</h2>
      <p class="text-base text-[#6A6A6A]">
        Dra. Andreia Hipólito atua há mais de 10 anos no Direito Trabalhista e Previdenciário,
        oferecendo soluções estratégicas e personalizadas para empresas e clientes individuais.
        Combinando conhecimento técnico e atendimento humanizado, ela garante clareza, agilidade e
        resultados concretos em cada caso. Seu compromisso é orientar cada cliente de forma
        transparente, transmitindo segurança e confiança em todas as etapas do processo.
      </p>
    </div>
  </div>
</section>
