---

---

<section
  class="md:p-10 py-10 px-5 font-[Inter] flex justify-center items-center m-auto bg-[#453130] w-full"
>
  <div
    class="w-full xl:w-[1440px] flex flex-col md:flex md:flex-row items-center justify-center gap-5 md:p-10"
  >
    <div class="md:w-[514px] w-full gap-2.5">
      <h3 class="text-base md:text-lg uppercase font-semibold text-[#D7AA67]">
        Sobre o escritório
      </h3>
      <h2 class="text-2xl font-[Playfair] font-bold md:text-3xl text-white">
        Clareza, eficiência e confiança em cada atendimento
      </h2>
      <p class="text-base text-[#EDEDED]">
        Fundado com o objetivo de unir tradição e inovação, nosso escritório oferece serviços
        jurídicos especializados em Direito Civil, Trabalhista e Previdenciário. Priorizamos
        atendimento próximo e personalizado, comunicação clara e objetiva, e estratégias jurídicas
        adaptadas às necessidades de cada cliente. Nossa missão é entregar soluções práticas,
        eficientes e confiáveis, garantindo resultados concretos e a satisfação de todos que nos
        procuram.
      </p>
    </div>
    <img src="/logo.png" alt="" class="w-[400px]" />
  </div>
</section>
