---
import TestimonialsCard from "./TestimonialsCard.astro";
---

<section id="testimonials" class="md:p-10 p-5 font-[Inter] bg-[#453130] w-full">
  <div
    class="md:p-10 p-5 flex flex-col justify-center w-full xl:w-[1440px] m-auto text-white md:items-start items-center gap-5"
  >
    <div class="text-center md:text-start flex flex-col gap-[5px]">
      <h3 class="text-base md:text-lg uppercase font-bold text-[#D7AA67]">Depoimentos</h3>
      <h2 class="text-3xl font-bold md:text-4xl">A experiência dos nossos clientes</h2>
    </div>

    <div
      class="flex lg:m-auto flex-col xl:flex-row xl:flex justify-center md:grid md:-amber-400 md:grid-cols-2 md:m-auto lg:flex lg:w-full gap-5 items-center"
    >
      <TestimonialsCard
        text="Procurei o escritório para revisar minha aposentadoria e fui surpreendido pela dedicação e clareza com que me atenderam. Hoje recebo o benefício justo que sempre mereci."
        name="Carlos M"
      />
      <TestimonialsCard
        text="Precisei de orientação em um processo trabalhista e recebi todo o apoio necessário. A equipe foi atenciosa e me deixou tranquilo em cada etapa."
        name="Mariana S"
      />

      <TestimonialsCard
        text="Tive um problema com um contrato comercial e encontrei no escritório a segurança que precisava. Resolveram tudo com profissionalismo e rapidez."
        name="João P"
      />

      <TestimonialsCard
        text="Sempre tive dúvidas sobre meus direitos, e aqui encontrei respostas claras e objetivas. Senti que realmente se importaram com meu caso."
        name="Fernanda L"
      />
    </div>
  </div>
</section>
